html {
    height: 100%;
    width: 100%;
    background-image: url('../images/olia-gozha-J4kK8b9Fgj8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(50, 48, 48);
    font-family: 'Vollkorn', serif;
}

body {
    font-size: 1.5em;
    padding: 0.5em;
}

a {
    color: rgb(50, 48, 48);
}

a:hover {
    color:cornflowerblue;
}